<section class="hero is-light">
  <div class="hero-body">
    <div class="columns">
      <div class="column">
        <div class="content has-text-centered">
          <p>Deeply inspired by my brother, that happens to be a professional code magician. Check out his page and give him some love: <a href="https://shovik.com/"><strong>shovik.com</strong></a> </p>
        </div>
      </div>
      <div class="column has-text-centered i">
        <p>Contact me:</p>
        <a href="https://vk.com/hz_kto_eto"><i class="fab fa-vk fa-2x has-text-dark" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/jaroslav.kovshovik"> <i class="fab fa-facebook-f fa-2x has-text-dark" aria-hidden="true"></i></a>
        <a href="https://github.com/Bylbanos"><i class="fab fa-github-alt fa-2x has-text-dark" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/bylbanos/?hl=ru"><i class="fas fa-camera fa-2x has-text-dark" aria-hidden="true"></i></a>
        <br>
        <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'button is-dark is-small is-outlined'  %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: 'button is-dark is-small is-outlined'  %>
        <% end %>
      </div>
      <div class="column has-text-centered">
        <p><s>Proudly</s></p>
        <a href="https://bulma.io">
          <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="256" height="48">
        </a>
      </div>
    </div>
  </div>
</section>



