<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-3 is-2 has-text-centered">
        <%= link_to "Beer", root_path, class: "button is-active is-dark is-medium is-fullwidth is-outlined" %>
      </div>
      <div class="column is-2 has-text-centered">
        <%= link_to "Gallery", gallery_path, class: "button is-dark is-medium is-fullwidth is-outlined" %>
      </div>
      <div class="column is-2 has-text-centered">
        <%= link_to "Contact Us", contact_path, class: "button is-dark is-medium is-fullwidth is-outlined" %>
      </div>
    </div>
  </div>
</div>